      <div>
        <h2 class="subheader">Blog Roll</h2>
        <ul class="no-bullet">
          <li><a href="http://planet.perl-magazin.de/" target="_blank">Deutschsprachige Perlblogs</a></li>
          <li><a href="http://reneeb-perlblog.blogspot.com/" target="_blank">Perl Blog Renée B&auml;cker</a></li>
          <li><a href="http://ironman.enlightenedperl.org/" target="_blank">Planet Iron Man</a></li>
          <li><a href="http://perlweekly.com/" target="_blank">Perl Weekly</a></li>
          <li><a href="http://perlsphere.net/" target="_blank">PerlSphere</a></li>
          <li><a href="http://perltricks.com/" target="_blank">Perl Tricks</a></li>
        </ul>
      </div>

